<!DOCTYPE html>
<html lang="en">

<head>
    <title>GeoUtils - Bearing</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

    <style>
        body {
            background-color: rgb(255, 255, 255);
            background: url(../static/background.jpg) no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            padding-top: 40px;
            padding-bottom: 40px;
        }

        .btn-background {
            background-color: rgb(34, 76, 139);
            color: rgb(255, 255, 255);
        }

        .btn-space {
            margin-right: 5px;
        }
    </style>
</head>

<body>

    <div class="container">

        <div class="header">
            <nav>
                <ul>
                    <li class="btn float-right btn-xs btn-primary btn-space btn-background" role="presentation">
                        <a href="{{url_for('utility_back')}}">Back</a>
                    </li>
                    <li class="btn float-right btn-xs btn-primary btn-space btn-background" role="presentation">
                        <a href="{{url_for('main')}}">Home</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Bearing Angle Calculator</h3>
        </div>
        <div class="jumbotron">
            <form id="package_form" action="" method="post">
                <table>
                    <tr>
                        <td>
                            <label>Source Latitude</label>
                        </td>
                        <td>
                            <input type="text" name="source-lat" value={{ source_lat }}>
                        </td>
                        <td>
                            <label>Source Longitude</label>
                        </td>
                        <td>
                            <input type="text" name="source-long" value={{ source_lng }}>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Destination Latitude</label>
                        </td>
                        <td>
                            <input type="text" name="dest-lat" value={{ dest_lat }}>
                        </td>
                        <td>
                            <label>Destination Longitude</label>
                        </td>
                        <td>
                            <input type="text" name="dest-long" value={{ dest_lng }}>
                        </td>
                    </tr>
                </table>
                <br>
                <div class="panel-body">
                    <input class="btn btn-xs btn-primary btn-space btn-success" type="submit" name="action" value="submit" />
                    <br>
                    <br>
                    <pre>{{ result }}</pre>
                </div>
                <div class="panel-body">
                    <input class="btn btn-xs btn-primary btn-space btn-success" type="submit" name="action" value="Show on Map" />
                    <pre>{{ trdmap }}</pre>
                </div>

            </form>
            <h2>
                <a href="https://www.movable-type.co.uk/scripts/latlong.html">Bearing Angle Formula</a>
            </h2>
            <div>
                <p>In general, your current heading will vary as you follow a great circle path (orthodrome); the final heading will differ
                    from the initial heading by varying degrees according to distance and latitude.</p>
                <p>This formula is for the initial bearing (sometimes referred to as forward azimuth) which if followed in a straight line along
                    a great-circle arc will take you from the start point to the end point:
                </p>
                <table>
                    <tr>
                        <td class="label">Formula: </td>
                        <td class="formula">θ = atan2( Sin ΔλCos φ
                            <sub>2</sub> , Cos φ
                            <sub>1</sub>Sin φ
                            <sub>2</sub> − Sin φ
                            <sub>1</sub>Cos φ
                            <sub>2</sub>Cos Δλ )</td>
                    </tr>
                    <tr>
                        <td class="label align-right">where, </td>
                        <td>
                            <i></i>φ
                            <sub>1</sub>
                            <i>,</i>λ
                            <sub>1</sub>
                            <i> is the start point (lat1,lng1),
                            </i>φ
                            <sub>2</sub>
                            <i>,</i>λ
                            <sub>2</sub>
                            <i> is the end point (lat2,lng2) (</i>Δλ
                            <i> is the difference in longitude)</i>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>

</html>