<!DOCTYPE html>
<html lang="en">

<head>
    <title>GeoUtils - Haversine</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

    <style>
        body {
            background-color: rgb(255, 255, 255);
            background: url(../static/background.jpg) no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            padding-top: 40px;
            padding-bottom: 40px;
        }

        .btn-background {
            background-color: rgb(34, 76, 139);
            color: rgb(34, 139, 111);
        }

        .btn-space {
            margin-right: 5px;
        }
        

    </style>
</head>

<body>

    <div class="container">

        <div class="header">
            <nav>
                <ul>
                    <li class="btn float-right btn-xs btn-primary btn-space btn-background" role="presentation">
                        <a href="{{url_for('utility_back')}}">Back</a>
                    </li>
                    <li class="btn float-right btn-xs btn-primary btn-space btn-background" role="presentation">
                        <a href="{{url_for('main')}}">Home</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Haversine Calculator</h3>
        </div>
        <div class="jumbotron">
            <form id="package_form" action="" method="post">
                <table>
                    <tr>               
                        <td>    
                            <label>Source Latitude</label>
                        </td>
                        <td>
                            <input type="text" name="source-lat" value={{ source_lat }}>
                        </td>
                        <td>
                            <label>Source Longitude</label>
                        </td>
                        <td>
                            <input type="text" name="source-long" value={{ source_lng }}>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Destination Latitude</label>
                        </td>
                        <td>
                            <input type="text" name="dest-lat" value={{ dest_lat }}>
                        </td>
                        <td>
                            <label>Destination Longitude</label>
                        </td>
                        <td>
                            <input type="text" name="dest-long" value={{ dest_lng }}>
                        </td>
                    </tr>
                </table>
                <br>
                <div class="panel-body">
                <input class="btn btn-xs btn-primary btn-space btn-success" type="submit" name="action" value="submit" />
                <br>
                <br>
                <pre>{{ result }}</pre>
                </div>
                <div class="panel-body">
                <input class="btn btn-xs btn-primary btn-space btn-success" type="submit" name="action" value="Show on Map" />
                <pre>{{ trdmap }}</pre>
                </div>
                
            </form>
            <h2>
                <a href="https://en.wikipedia.org/wiki/Haversine_formula" class="mw-headline" id="The_haversine_formula">Haversine formula</a>
            </h2>
            <p>For any two points on a sphere, the haversine of the
                central angle between them is given by</p>
            <dl>
                <dd>
                    <span class="mwe-math-element">
                        <span class="mwe-math-mathml-inline mwe-math-mathml-a11y" style="display: none;">
                            <math xmlns="http://www.w3.org/1998/Math/MathML" alttext="{\displaystyle \operatorname {hav} \left({\frac {d}{r}}\right)=\operatorname {hav} (\varphi _{2}-\varphi _{1})+\cos(\varphi _{1})\cos(\varphi _{2})\operatorname {hav} (\lambda _{2}-\lambda _{1})}">
                                <semantics>
                                    <mrow class="MJX-TeXAtom-ORD">
                                        <mstyle displaystyle="true" scriptlevel="0">
                                            <mi>hav</mi>
                                            <mo>&#x2061;
                                                <!-- ⁡ -->
                                            </mo>
                                            <mrow>
                                                <mo>(</mo>
                                                <mrow class="MJX-TeXAtom-ORD">
                                                    <mfrac>
                                                        <mi>d</mi>
                                                        <mi>r</mi>
                                                    </mfrac>
                                                </mrow>
                                                <mo>)</mo>
                                            </mrow>
                                            <mo>=</mo>
                                            <mi>hav</mi>
                                            <mo>&#x2061;
                                                <!-- ⁡ -->
                                            </mo>
                                            <mo stretchy="false">(</mo>
                                            <msub>
                                                <mi>&#x03C6;
                                                    <!-- φ -->
                                                </mi>
                                                <mrow class="MJX-TeXAtom-ORD">
                                                    <mn>2</mn>
                                                </mrow>
                                            </msub>
                                            <mo>&#x2212;
                                                <!-- − -->
                                            </mo>
                                            <msub>
                                                <mi>&#x03C6;
                                                    <!-- φ -->
                                                </mi>
                                                <mrow class="MJX-TeXAtom-ORD">
                                                    <mn>1</mn>
                                                </mrow>
                                            </msub>
                                            <mo stretchy="false">)</mo>
                                            <mo>+</mo>
                                            <mi>cos</mi>
                                            <mo>&#x2061;
                                                <!-- ⁡ -->
                                            </mo>
                                            <mo stretchy="false">(</mo>
                                            <msub>
                                                <mi>&#x03C6;
                                                    <!-- φ -->
                                                </mi>
                                                <mrow class="MJX-TeXAtom-ORD">
                                                    <mn>1</mn>
                                                </mrow>
                                            </msub>
                                            <mo stretchy="false">)</mo>
                                            <mi>cos</mi>
                                            <mo>&#x2061;
                                                <!-- ⁡ -->
                                            </mo>
                                            <mo stretchy="false">(</mo>
                                            <msub>
                                                <mi>&#x03C6;
                                                    <!-- φ -->
                                                </mi>
                                                <mrow class="MJX-TeXAtom-ORD">
                                                    <mn>2</mn>
                                                </mrow>
                                            </msub>
                                            <mo stretchy="false">)</mo>
                                            <mi>hav</mi>
                                            <mo>&#x2061;
                                                <!-- ⁡ -->
                                            </mo>
                                            <mo stretchy="false">(</mo>
                                            <msub>
                                                <mi>&#x03BB;
                                                    <!-- λ -->
                                                </mi>
                                                <mrow class="MJX-TeXAtom-ORD">
                                                    <mn>2</mn>
                                                </mrow>
                                            </msub>
                                            <mo>&#x2212;
                                                <!-- − -->
                                            </mo>
                                            <msub>
                                                <mi>&#x03BB;
                                                    <!-- λ -->
                                                </mi>
                                                <mrow class="MJX-TeXAtom-ORD">
                                                    <mn>1</mn>
                                                </mrow>
                                            </msub>
                                            <mo stretchy="false">)</mo>
                                        </mstyle>
                                    </mrow>
                                    <annotation encoding="application/x-tex">{\displaystyle \operatorname {hav} \left({\frac {d}{r}}\right)=\operatorname {hav} (\varphi _{2}-\varphi
                                        _{1})+\cos(\varphi _{1})\cos(\varphi _{2})\operatorname {hav} (\lambda _{2}-\lambda _{1})}</annotation>
                                </semantics>
                            </math>
                        </span>
                        <img src="https://wikimedia.org/api/rest_v1/media/math/render/svg/47a496cca1b6d57e0ae7b462c1678660392d1057" class="mwe-math-fallback-image-inline"
                            aria-hidden="true" style="vertical-align: -2.505ex; width:57.49ex; height:6.176ex;" alt="{\displaystyle \operatorname {hav} \left({\frac {d}{r}}\right)=\operatorname {hav} (\varphi _{2}-\varphi _{1})+\cos(\varphi _{1})\cos(\varphi _{2})\operatorname {hav} (\lambda _{2}-\lambda _{1})}"
                        />
                    </span>
                </dd>
            </dl>
            <p>where</p>
            <ul>
                <li>
                    <span class="texhtml">hav</span> is the
                    haversine function:</li>
            </ul>
            <dl>
                <dd>
                    <span class="mwe-math-element">
                        <span class="mwe-math-mathml-inline mwe-math-mathml-a11y" style="display: none;">
                            <math xmlns="http://www.w3.org/1998/Math/MathML" alttext="{\displaystyle \operatorname {hav} (\theta )=\sin ^{2}\left({\frac {\theta }{2}}\right)={\frac {1-\cos(\theta )}{2}}}">
                                <semantics>
                                    <mrow class="MJX-TeXAtom-ORD">
                                        <mstyle displaystyle="true" scriptlevel="0">
                                            <mi>hav</mi>
                                            <mo>&#x2061;
                                                <!-- ⁡ -->
                                            </mo>
                                            <mo stretchy="false">(</mo>
                                            <mi>&#x03B8;
                                                <!-- θ -->
                                            </mi>
                                            <mo stretchy="false">)</mo>
                                            <mo>=</mo>
                                            <msup>
                                                <mi>sin</mi>
                                                <mrow class="MJX-TeXAtom-ORD">
                                                    <mn>2</mn>
                                                </mrow>
                                            </msup>
                                            <mo>&#x2061;
                                                <!-- ⁡ -->
                                            </mo>
                                            <mrow>
                                                <mo>(</mo>
                                                <mrow class="MJX-TeXAtom-ORD">
                                                    <mfrac>
                                                        <mi>&#x03B8;
                                                            <!-- θ -->
                                                        </mi>
                                                        <mn>2</mn>
                                                    </mfrac>
                                                </mrow>
                                                <mo>)</mo>
                                            </mrow>
                                            <mo>=</mo>
                                            <mrow class="MJX-TeXAtom-ORD">
                                                <mfrac>
                                                    <mrow>
                                                        <mn>1</mn>
                                                        <mo>&#x2212;
                                                            <!-- − -->
                                                        </mo>
                                                        <mi>cos</mi>
                                                        <mo>&#x2061;
                                                            <!-- ⁡ -->
                                                        </mo>
                                                        <mo stretchy="false">(</mo>
                                                        <mi>&#x03B8;
                                                            <!-- θ -->
                                                        </mi>
                                                        <mo stretchy="false">)</mo>
                                                    </mrow>
                                                    <mn>2</mn>
                                                </mfrac>
                                            </mrow>
                                        </mstyle>
                                    </mrow>
                                    <annotation encoding="application/x-tex">{\displaystyle \operatorname {hav} (\theta )=\sin ^{2}\left({\frac {\theta }{2}}\right)={\frac {1-\cos(\theta
                                        )}{2}}}</annotation>
                                </semantics>
                            </math>
                        </span>
                        <img src="https://wikimedia.org/api/rest_v1/media/math/render/svg/7f6323f8e404496c8253539689327f5228699935" class="mwe-math-fallback-image-inline"
                            aria-hidden="true" style="vertical-align: -2.505ex; width:32.959ex; height:6.343ex;" alt="\operatorname {hav} (\theta )=\sin ^{2}\left({\frac {\theta }{2}}\right)={\frac {1-\cos(\theta )}{2}}"
                        />
                    </span>
                </dd>
            </dl>
            <ul>
                <li>
                    <span class="texhtml">
                        <i>d</i>
                    </span> is the distance between the two points (along a
                    great circle of the sphere),</li>
                <li>
                    <span class="texhtml">
                        <i>r</i>
                    </span> is the radius of the sphere,</li>
                <li>
                    <span class="texhtml">
                        <i>φ</i>
                        <sub>1</sub>,
                        <i>φ</i>
                        <sub>2</sub>
                    </span>: latitude of point 1 and latitude of point 2, in radians</li>
                <li>
                    <span class="texhtml">
                        <i>λ</i>
                        <sub>1</sub>,
                        <i>λ</i>
                        <sub>2</sub>
                    </span>: longitude of point 1 and longitude of point 2, in radians</li>
            </ul>
        </div>
    </div>
</body>

</html>