<!DOCTYPE html>
<html lang="en">

<head>
    <title>GeoUtils - Turning</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

    <style>
        body {
            background-color: rgb(255, 255, 255);
            background: url(../../static/background.jpg) no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            padding-top: 40px;
            padding-bottom: 40px;
        }

        .btn-background {
            background-color: rgb(34, 76, 139);
            color: rgb(255, 255, 255);
        }

        .btn-space {
            margin-right: 5px;
        }
    </style>
    <script>
        function MidFilling(f) {
            if (f.midfilling.checked == true) {
                f.mid2.value = f.mid1.value;
            }
        }
    </script>
</head>

<body>

    <div class="container">

        <div class="header">
            <nav>
                <ul>
                    <li class="btn float-right btn-xs btn-primary btn-space btn-background" role="presentation">
                        <a href="{{url_for('utility_back')}}">Back</a>
                    </li>
                    <li class="btn float-right btn-xs btn-primary btn-space btn-background" role="presentation">
                        <a href="{{url_for('main')}}">Home</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Turning Angle Calculator</h3>
        </div>
        <div class="jumbotron">

            <form id="package_form" action="" method="post">
                <table onload="MidFilling(this.form)">
                    <tr>
                        <td>
                            <label>Source</label>
                        </td>
                        <td>
                            <input type="text" name="source" value={{ source }}>
                        </td>
                        <td>
                            <label>Mid</label>
                        </td>
                        <td>
                            <input type="text" name="mid1" value={{ mid1 }}>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Mid</label>
                        </td>
                        <td>
                            <input id="re-type" type="text" name="mid2" value={{ mid2 }}>
                            <!datalist id="re-type">
                                <!option value={{ mid1 }}>
                            <!/datalist>
                        </td>
                        <td>
                            <label>Destination</label>
                        </td>
                        <td>
                            <input type="text" name="dest" value={{ dest }}>
                        </td>
                    </tr>
                </table>
                <input type="checkbox" name="midfilling" onclick="MidFilling(this.form)">
                <em>Check this box if you want same mid value.</em>
                <br>
                <br>
                <div class="panel-body">
                    <input class="btn btn-xs btn-primary btn-space btn-success" type="submit" name="action" value="submit" />
                    <br>
                    <br>
                    <pre>{{ result }}</pre>
                </div>
                <div class="panel-body">
                    <input class="btn btn-xs btn-primary btn-space btn-success" type="submit" name="action" value="Show on Map" />
                    <pre>{{ trdmap }}</pre>
                </div>

            </form>
        </div>
    </div>
</body>

</html>